<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Audit | <%= organization %></title>

    <style>
      body {
        margin: auto;
        max-width: 1200px;
      }

      .avatar {
        height: auto;
        width: 2em;
      }

      .columned {
        columns: 360px 3;
      }

      .typewriter {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>GitHub Audit: <%= organization %></h1>

    <p>Following is a report of the GitHub users, repositories, and teams within the <span class="typewriter"><%= organization %></span> organization. It was generated on <span class="typewriter"><%= time %></span> using a key owned by <span class="typewriter"><%= login %></span>.</p>

    <h3>Table of Contents</h3>

    <ol>
      <li>Data Indexed by User</li>
      <ul>
        <li>All Organization Members</li>
        <li>Team Memberships</li>
        <li>User Repository Access</li>
      </ul>

      <li>Data Indexed by Team</li>
      <ul>
        <li>All Organization Teams</li>
        <li>Team Memberships</li>
        <li>Team Repository Access</li>
      </ul>

      <li>Lists Indexed by Repository</li>
      <ul>
        <li>All Organization Repositories</li>
        <li>User Repository Access</li>
        <li>Team Repository Access</li>
        <li>Direct &amp; Outside Collaborators</li>
      </ul>
    </ol>

    <hr>

    <section style="page-break-before: always; break-before: always">
      <h2>Data Indexed by User</h2>

      <article>
        <h3>All Organization Members</h3>

        <table>
          <thead>
            <th></th>
            <th>Login</th>
            <th>Name</th>
          </thead>
          <tbody>
<% for (let i = 0; i < users.length; i++) { %>
            <tr>
              <td><img src="<%= users[i].avatarUrl %>" alt="Avatar for <%= users[i].login %>" class="avatar"></td>
              <td><span class="typewriter"><%= users[i].login %></span></td>
  <% if (users[i].name != null) { %>
              <td><%= users[i].name %></td>
  <% } else { %>
              <td><em>not assigned</em></td>
  <% } %>
            </tr>
<% } %>
          </tbody>
        </table>
      </article>

      <article>
        <h3>Team Memberships</h3>

<% for (let i = 0; i < users.length; i++) { %>
        <p>
          <img src="<%= users[i].avatarUrl %>" alt="Avatar for <%= users[i].login %>" class="avatar">
          <span class="typewriter"><%= users[i].login %></span>
  <% if (users[i].name != null) { %>
          (<%= users[i].name %>)
  <% } else { %>
          (<em>not assigned</em>)
  <% } %>
        </p>


<% } %>
      </article>
    </section>
  </body>
</html>
