<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Audit | <%= organization %></title>

    <style>
      body {
        margin: auto;
        max-width: 1200px;
      }

      .avatar {
        height: auto;
        width: 2em;
      }

      .columned {
        columns: 360px 3;
      }

      .typewriter {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>GitHub Audit: <%= organization %></h1>

    <p>Following is a report of the GitHub users, repositories, and teams within the <span class="typewriter"><%= organization %></span> organization. It was generated on <span class="typewriter"><%= time %></span> using a key owned by <span class="typewriter"><%= login %></span>.</p>

    <h3>Table of Contents</h3>

    <ol>
      <li>Data Indexed by User</li>
      <ul>
        <li>All Organization Members</li>
        <li>Team Memberships</li>
        <li>User Repository Access</li>
      </ul>

      <li>Data Indexed by Team</li>
      <ul>
        <li>All Organization Teams</li>
        <li>Team Memberships</li>
        <li>Team Repository Access</li>
      </ul>

      <li>Lists Indexed by Repository</li>
      <ul>
        <li>All Organization Repositories</li>
        <li>User Repository Access</li>
        <li>Team Repository Access</li>
        <li>Direct &amp; Outside Collaborators</li>
      </ul>
    </ol>

    <hr>

    <section style="page-break-before: always; break-before: always">
      <h2>Data Indexed by User</h2>

      <article>
        <h3>All Organization Members</h3>

<%
  let user_manifest = []

  for (let user of users) {
    let u = { avatarUrl, login, name } = user
    u.teams = []
    u.collabs = []
    u.repos = []

    for (let team of teams) {
      if (team.users.some((u) => u.login === user.login)) {
        u.teams.push(team.name)

        for (let repo of team.repos) {
          u.repos.push(repo)
        }
      }
    }

    for (let repo of repositories) {
      for (let collab of repo.collaborators) {
        if (collab.login === u.login) {
          u.collabs.push({
            name: repo.name,
            permission: collab.permission
          })
        }
      }
    }
  }
%>

        <table>
          <thead>
            <th></th>
            <th>Login</th>
            <th>Name</th>
          </thead>
          <tbody>
<% for (let user of user_manifest) { %>
            <tr>
              <td><img src="<%= user.avatarUrl %>" alt="Avatar for <%= user.login %>" class="avatar"></td>
              <td><span class="typewriter"><%= user.login %></span></td>
  <% if (user.name != null) { %>
              <td><%= user.name %></td>
  <% } else { %>
              <td><em>not assigned</em></td>
  <% } %>
            </tr>
<% } %>
          </tbody>
        </table>
      </article>

      <article>
        <h3>Team Memberships</h3>

<% for (let user of users) { %>
        <p>
          <img src="<%= user.avatarUrl %>" alt="Avatar for <%= user.login %>" class="avatar">
          <span class="typewriter"><%= user.login %></span>
  <% if (user.name != null) { %>
          (<%= user.name %>)
  <% } else { %>
          (<em>not assigned</em>)
  <% } %>
        </p>


<% } %>
      </article>
    </section>
  </body>
</html>
