<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Audit | <%= organization %></title>

    <style>
      body {
        margin: auto;
        max-width: 1200px;
      }

      .avatar {
        height: auto;
        width: 2em;
      }

      .columned {
        columns: 360px 3;
      }

      .typewriter {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>GitHub Audit: <%= organization %></h1>

    <p>Following is a report of the GitHub users, repositories, and teams within the <span class="typewriter"><%= organization %></span> organization. It was generated on <span class="typewriter"><%= time %></span> using a key owned by <span class="typewriter"><%= login %></span>.</p>

    <h3>Table of Contents</h3>

    <ol>
      <li>Data Indexed by User</li>
      <ul>
        <li>All Organization Members</li>
        <li>Team Memberships</li>
        <li>User Repository Access</li>
      </ul>

      <li>Data Indexed by Team</li>
      <ul>
        <li>All Organization Teams</li>
        <li>Team Memberships</li>
        <li>Team Repository Access</li>
      </ul>

      <li>Lists Indexed by Repository</li>
      <ul>
        <li>All Organization Repositories</li>
        <li>User Repository Access</li>
        <li>Team Repository Access</li>
        <li>Direct &amp; Outside Collaborators</li>
      </ul>
    </ol>

    <hr>

    <section style="page-break-before: always; break-before: always">
      <h2>Data Indexed by User</h2>

      <article>
        <h3>All Organization Members</h3>

<%
  let user_manifest = []

  for (let user of users) {
    user.teams = []
    user.collabs = []
    user.repos = []

    for (let team of teams) {
      if (team.users.some((u) => user.login === user.login)) {
        user.teams.push(team.name)

        for (let repo of team.repos) {
          user.repos.push(repo)
        }
      }
    }

    for (let repo of repositories) {
      for (let collab of repo.collaborators) {
        if (collab.login === user.login) {
          user.collabs.push({
            name: repo.name,
            permission: collab.permission
          })
        }
      }
    }
  }
%>

        <table>
          <thead>
            <th></th>
            <th>Login</th>
            <th>Name</th>
          </thead>
          <tbody>
<% for (let user of users) { %>
            <tr>
              <td><img src="<%= user.avatarUrl %>" alt="Avatar for <%= user.login %>" class="avatar"></td>
              <td><span class="typewriter"><%= user.login %></span></td>
  <% if (user.name != null) { %>
              <td><%= user.name %></td>
  <% } else { %>
              <td><em>not assigned</em></td>
  <% } %>
            </tr>
<% } %>
          </tbody>
        </table>
      </article>

      <article>
        <h3>Team Memberships</h3>

<% for (let user of users) { %>
        <p>
          <img src="<%= user.avatarUrl %>" alt="Avatar for <%= user.login %>" class="avatar">
          <span class="typewriter"><%= user.login %></span>
  <% if (user.name != null) { %>
          (<%= user.name %>)
  <% } else { %>
          (<em>not assigned</em>)
  <% } %>
        </p>

        <p>
  <% if (user.teams.length > 0) { %>
          <ul>
    <% for (let team of user.teams) { %>
            <li><%= team %></li>
    <% } %>
          </ul>
  <% } else { %>
          This user does not belong to any teams.
  <% } %>
        </p>
<% } %>
      </article>

      <article>
        <h3>User Repository Access</h3>

<% for (let user of users) { %>
        <p>
          <img src="<%= user.avatarUrl %>" alt="Avatar for <%= user.login %>" class="avatar">
          <span class="typewriter"><%= user.login %></span>
  <% if (user.name != null) { %>
          (<%= user.name %>)
  <% } else { %>
          (<em>not assigned</em>)
  <% } %>
        </p>

        <p>
  <% if (user.collabs.length > 0) { %>
          This user is directly assigned to the following repositories:
          <ul class="columned">
    <% for (let repo of user.collabs) { %>
            <li><%= repo.name %> (<%= repo.permission %>)</li>
    <% } %>
          </ul>
  <% } else { %>
          This user is not directly assigned to any repositories.
  <% } %>
        </p>

        <p>
  <% if (user.repos.length > 0) { %>
          This user has team access to the following repositories:
          <ul class="columned">
    <% for (let repo of user.repos) { %>
            <li><%= repo.name %> (<%= repo.permission %>)</li>
    <% } %>
          </ul>
  <% } else { %>
          This user does not have team access to any repositories.
  <% } %>
        </p>
<% } %>
      </article>
    </section>


    <section style="page-break-before: always; break-before: always">
      <h2>Data Indexed by Team</h2>

      <article>
        <h3>All Organization Teams</h3>

        <p>
          <ul class="columned">
<% for (let team of teams) { %>
            <li><%= team.name %></li>
<% } %>
          </ul>
        </p>
      </article>

      <article>
        <h3>Team Memberships</h3>

<% for (let team of teams) { %>
        <p><%= team.name %></p>

        <p>
  <% if (team.users.length > 0) { %>
          <ul class="columned">
    <% for (let user of team.users) { %>
            <li>
              <span class="typewriter"><%= user.login %></span>
      <% if (user.name != null) { %>
              (<%= user.name %>)
      <% } else { %>
              (<em>not assigned</em>)
      <% } %>
            </li>
    <% } %>
          </ul>
  <% } else { %>
          This team does not have any members.
  <% } %>
        </p>
<% } %>
      </article>

      <article>
        <h3>Team Repository Access</h3>

<% for (let team of teams) { %>
        <p><%= team.name %></p>

        <p>
  <% if (team.repos.length > 0) { %>
          <ul class="columned">
    <% for (let repo of team.repos) { %>
            <li><%= repo.name %> (<%= repo.permission %>)</li>
    <% } %>
          </ul>
  <% } else { %>
          This team does not have repositories.
  <% } %>
        </p>
<% } %>
      </article>
    </section>
  </body>
</html>
